<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        <li class="nav-ksphome {% if page.current == 'ksp2-home' %} nav-current{% endif %}" role="presentation"><a href="https://ksp2mars.org">KSP2Mars Homepage</a></li>
        <li class="nav-home {% if page.current == 'home' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}">Blog Homepage</a></li>
        <li class="nav-reddit {% if page.current == 'subreddit' %} nav-current{% endif %}" role="presentation"><a href="https://www.reddit.com/r/KSP2Mars">/r/KSP2Mars</a></li>
        <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}about">About</a></li>
        <li class="nav-contact {% if page.current == 'contact' %} nav-current{% endif %}" role="presentation"><a href="https://goo.gl/gLIHZf">Contact Us</a></li>
    </ul>
    <a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">Subscribe</a>
</div>
<span class="nav-cover"></span>
